.title {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: darkgrey;
    border-radius: 4px;
    margin: 0 auto;
    width: 500px;
    height: 500px;
}

.display {
    padding: 1rem 2rem;
    border-radius: 4px;
    background-color: white;
    margin: 10px;
    height: 100px;
}

.key-container {
    display: flex;
    gap: 5px;
    margin: 10px;
    flex-wrap: wrap;
}

.keys {
    padding: 1rem 2rem;
    flex: 1 0 25%;
}

#clear {
    padding: 1rem 2rem;
    flex: 1 1 230px;
    background-color: salmon;
    color: darkred;
}

#delete {
    padding: 1rem 2rem;
    flex: 1 1 230px;
    background-color: deepskyblue;
    color: darkblue;
}









/* The goal of the following CSS is to separate the numerical buttons from
the operators and the entry bar by cutting the calculator container in half */

