.title {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
}

.container {
    background-color: darkgrey;
    border-radius: 4px;
    margin: 0 auto;
    width: 500px;
    height: 500px;
}

.key-container {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    height: 250px;
    border: 2px solid black;
}

.key-container#keys {
    flex: 1;
}



/* The goal of the following CSS is to separate the numerical buttons from
the operators and the entry bar by cutting the calculator container in half */

